.about-me-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locations-container {
    display: flex;
    height: 100%;
}

.locations-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations-left-side img {
    max-width: 500px;
    margin-left: 70px;
}

.container-position {
    position: absolute;
    margin-left: 150px;
    margin-top: -100px;
}

.yellow-wrapper {
    position: relative;
    height: 100px;
    transform: rotate(-2deg);
}

.yellow-container {
    position: absolute;
    width: 300px;
    color: var(--prime-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-wrapper {
    position: relative;
    height: 100px;
    transform: rotate(6deg);
}

.blue-container {
    position: absolute;
    width: 300px;
    color: var(--prime-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-wrapper {
    position: relative;
    height: 100px;
    margin-top: 20px;
    transform: rotate(4deg);

}

.orange-container {
    position: absolute;
    width: 300px;
    color: var(--prime-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 46px;
}

.headline-underline {
    width: 280px;
    margin-left: -50px;
}

.about-me-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10%;
    margin-right: 70px;

}

.about-me-text-container button {
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--prime-color-white);
    color: var(--prime-color-black);
    border: 1px, solid, var(--prime-color-black);
}

.talk-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.talk-btn-container button {
    box-shadow: 2px 4px 0px 0px var(--prime-color-black);
}

.talk-btn-container button:hover {
    background-color: var(--highlight-color-red);
    box-shadow: 0px 0px 0px 0px var(--prime-color-black);
    
}

.talk-btn-container button a {
    padding: 12px 20px;
}


