
.colleagues-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.colleagues-section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30%;
}

.colleagues-design-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.sticker-one, .sticker-two, .sticker-three {
    width: 450px;
    height: 300px;
    position: relative;
}

.sticker-one {
    position: relative;
    margin-left: -45%;
    transform: rotate(-6deg); 
}

.sticker-two {
    position: absolute;
}

.sticker-three {
    position: absolute;
    margin-left: 40%;
    transform: rotate(6deg); 
}


.colleagues-sticker {
    width: 450px;
    height: 300px;
    position: relative;
    z-index: 1; 
}

.sticker-comment {
    position: relative;
    z-index: 4; 
    width: 100%;
    height: 90%;
    margin-top: -65%; 
    padding: 30px;
    pointer-events: none;
    color: var(--prime-color-black);
}

.sticker-one:hover, 
.sticker-two:hover, 
.sticker-three:hover {
    z-index: 500; 
}

.sticker-one:hover::after,
.sticker-two:hover::after,
.sticker-three:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 300px;
    z-index: 1;
    
    background-image: url("./assets/img/03_Stickers/02_Testimonials/Color option 1/Hover.png");
    background-position: center;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    
    pointer-events: none; 
}

.sticker-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: -10%;
    z-index: 1;
}

.sticker-footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--prime-color-black);
    padding: 8px;
    z-index: 1000;
}

.sticker-one:hover, 
.sticker-two:hover, 
.sticker-three:hover,
.sticker-footer:hover {
    color: var(--prime-color-white);
}

.sticker-footer a:hover {
    z-index: 1001;
    color: var(--prime-color-white);
}

.sticker-footer a:hover::after {
    z-index: 1;
    color: var(--prime-color-black);
}

.profile-link-container {
    display: flex;
}

.profile-link{
    cursor: pointer;
}

@media (max-width: 1150px) {
    #colleaguesSection .max-content .testimonial-container {
        height: auto;
        display: flex;
        flex-direction: column !important;
        align-items: center;
        margin-top: -70px;
    }

    .colleagues-sticker {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sticker-one, .sticker-two, .sticker-three {
        position: relative;
        margin-left: 0;
        transform: rotate(0deg);
    }

    .sticker-one {
        margin-top: 150px;
        transform: rotate(3deg);

    }

    .sticker-two {
        margin-top: -100px;
        transform: rotate(-3deg);
    }

    .sticker-three {
        margin-top: -100px;
        transform: rotate(3deg);
    }
}


@media (max-width: 950px) {
    .blue-arrow {
        width: 150px;
    }

    .colleagues-sticker {
        max-width: 260px;
        width: 100%;
        height: 520px;
    }

    .sticker-one, .sticker-two, .sticker-three {
        max-width: 260px;
    }

    .sticker-one:hover::after,
    .sticker-two:hover::after,
    .sticker-three:hover::after {
        width: 100%;
        height: 100%;
    }

    .sticker-comment {
        height: 100%;
        margin-top: -520px;
    }

    .sticker-footer {
        width: 80%;
        margin-top: 150px;
        margin-left: 20px;
    }

}