.contact-section {
    height: fit-content;
    background-image: url(./assets/img/01_Background/Img-Original-Size/Footer.png);

    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-context {
    width: 100%;
    display: flex;
    padding-top: 150px;
}

.left-side {
    width: 50%;
    color: var(--prime-color-white);
    display: flex;
    flex-direction: column;
}

.mar_right {
    margin-left: 50%;
}

.right-side {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-sticker {
    position: relative;
    height: 180px;
    width: 180px;
    margin-left: 250px;
}

.logo-on-sticker {
    position: absolute;
    margin-left: -140px;
    margin-top: 50px;
    z-index: 1000;
}