.contact-section {
    height: max-content;
    background-image: url(../assets/img/01_Background/Img-Original-Size/Footer.png);
    background-size: contain;
    background-size: cover;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-context {
    width: 100%;
    display: flex;
    padding-top: 150px;
}

.left-side {
    width: 50%;
    color: var(--prime-color-white);
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.mar_right {
    padding-left: 70px;
}

.right-side {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 20px;
}

.sticker-container {
    position: relative;
    width: 250px;  
    height: 250px;
}

.round-sticker {
    width: 100%;
    height: 100%;
}

.logo-on-sticker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%; 
}

.sticker-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 6px;
    color: #000;
    offset-path: border-box; 
    transform: translate(122px, 122px);
}

#formStatus {
    padding: 20px 0;
}

.yellow-arrow-mobile {
    display: none;
}

@media (max-width: 950px) {
    .right-side form {
        width: 100% !important;
        align-items: center !important;
    }

    input {
        width: 100% !important;
        padding: 54px 20px 34px 20px !important

    }
}