.contact-section-footer-links {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    gap: 40px;
}

.contact-section-footer-links a {
    text-decoration: none;
    color: var(--prime-color-white);
    width: fit-content;
    height: 40px;
    opacity: 1;
    gap: 10px;
    padding-top: 12px;
    padding-right: 34px;
    padding-bottom: 12px;
    padding-left: 34px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-hover {
    position: absolute;
    width: 150px;
    margin-top: -50px;
    margin-left: 20px;
    opacity: 0; 
    transition: opacity 0.2s ease; 
    pointer-events: none; 
}

 .legal-notice:hover + .footer-hover {
    opacity: 1;
}

.background-color:hover {
    background-color: var(--highlight-color-blue);
}

.mobile-footer {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.mobile-social-links {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.mobile-legal-notice {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.logo-copyright-container {
    color: var(--prime-color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-footer-links {
    display: flex;
    justify-content: space-evenly;
}

.privacy-notice-container {
    display: flex;
    margin-top: 5%;
}


