
main .max-content {
    height: 100vh;
    justify-content: space-between;
}

.hero-information-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10%

}

.img-and-text {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mobile-polaroid-container {
    display: none;
}

.polaroid-frame {
    position: relative;
    width: 200px;
    height: 250px;
}

.mobile-polaroid-frame {
    position: relative;
    width: 200px;
    height: 250px;
}

.polaroid-image {
    position: absolute;
    margin-top: 15px;
    margin-left: -186px;
    color: var(--prime-color-white);
    width: 172px;
    height: 180px;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transform: scale(1);

    transition:
        filter 0.5s ease,
        -webkit-filter 0.5s ease,
        transform 0.5s ease;
}

.mobile-polaroid-image {
    position: absolute;
    color: var(--prime-color-white);
    width: 172px;
    height: 190px;
    margin-top: 12px;
}

.polaroid-image:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.kalma-font {
    font-family: 'kalma';
    position: absolute;
    font-size: 30px;
    margin-top: -60px;
    margin-left: 10px;
}

.mobile-kalma-font {
    font-family: 'kalma';
    position: absolute;
    font-size: 30px;
    margin-top: 205px;
}

.polaroid-container {
  transform: rotate(12deg); 
}

h1 {
    color: var(--prime-color-white);
    font-size: 128px;
}

.headline span {
  display: inline-flex;     
  justify-content: center;  
  min-width: 0.7em;         
  transition: color 0.2s ease-in-out; 

  
}

.headline {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#interactive-headline span {
    min-width: 2.4rem;
    margin: -4px;
}

.headline-hover {
  color: var(--highlight-color-yellow);
}

.design-element {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10%;
    width: 100%;
}

.btn-and-headline-container {
    display: flex;
    flex-direction: column;
}

.second-desing-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hello-world-btn {
    position: relative;
    width: 120px;
    border-radius: 100px;
    border-width: 1px;
    background: transparent;
    cursor: auto;
}

.hello-world-btn .btn-text {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    box-sizing: border-box;
    background-color: var(--prime-color-black);
    color: var(--prime-color-white);
    border: 1px solid var(--prime-color-white);
    text-align: center;
    white-space: nowrap;
    transition: width 0.3s ease, background-color 0.3s ease;
    pointer-events: none; 
}

.hello-world-btn:hover .btn-text {
    width: 200px; 
    background-color: #3355FF; 
}

.hero-information-container button a {
    color: var(--prime-color-white);
    text-decoration: none;
}

.waving-icon {
    margin-top: -5px;
}

.contact-btn-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.get-in-touch-btn {
    width: 154px;
    height: 40px;
    opacity: 1;
    border-radius: 100px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    background: transparent;
    color: var(--prime-color-white);
    border: 1px solid var(--prime-color-white);
    cursor: pointer;
    box-shadow: 2px 4px 0px 0px var(--prime-color-white);
}

.get-in-touch-btn:hover, .get-in-touch-btn a:hover {
    background-color: var(--highlight-color-red);
    box-shadow: 0px 0px 0px 0px var(--prime-color-white);
}

.social-links-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 250px;
    pointer-events: none;
}
.social-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50px;
    padding-left: 20px;
    pointer-events: all;
}

.social-links a {
    display: inline-block;
    overflow: hidden;

    background-image: linear-gradient(
        to bottom,
        var(--highlight-color-blue),
        var(--highlight-color-blue)
    );
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 0%;
    border-radius: 12px;

    transition: background-size 0.4s ease;
}

.social-links a:hover {
    background-size: 100% 100%;
}

.social-links a img {
    display: block;
}

.mobile-social-links {
    display: flex;
    padding-left: 72px;
    gap: 20px;
}

.mobile-social-links a {
    display: inline-block;
    overflow: hidden;

    background-image: linear-gradient(
        to bottom,
        var(--highlight-color-blue),
        var(--highlight-color-blue)
    );
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 0%;
    border-radius: 12px;

    transition: background-size 0.4s ease;
}

.mobile-social-links a:hover {
    background-size: 100% 100%;
}

.mobile-social-links a img {
    display: block;
}

#aboutMeSection button a {
    text-decoration: none;
    color: var(--prime-color-black);
}

@media (max-width: 950px) {
    #heroSection {
        max-height: min-content;
    }

    #interactive-headline span {
        margin: -4px;
    }

    .headline {
        gap: 2px;
        justify-content: center;
    }

    .design-element {
        margin-top: 80px;
        width: 80%;
    }

    .second-desing-element {
        width: 100%;
        justify-content: center;
        padding: 0 20px;
    }

    .hero-information-container {
        margin-top: 0;
        height: 100%;
        justify-content: space-evenly;
    }

    .btn-and-headline-container {
        gap: 60px;
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 450px) {
    .btn-and-headline-container {
        gap: 0;
    }

    .hero-information-container {
        gap: 10px;
    }

    .headline {
        justify-content: flex-start;
    }

    .design-element {
        width: 100%;
    }

    .second-desing-element {
        justify-content: flex-start;
    }

}