.max-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 1740px) {
    .sticker-three {
        margin-left: 30%;
    }
}

@media (max-width: 1150px) {
    section {
        display: flex;
        flex-direction: column !important;
        position: relative;
        height: max-content !important;
        padding: 50px 50px 50px 50px;
    }

    h1 {
        font-size: 86px;
    }

    

    .about-me-text-container {
        width: 90%;
        margin-right: 0;
    }

    .locations-container {
        width: 90%;
    }

    .locations-container {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }

    .skill-header {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
    
    .skill-and-sticker-container {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .headline-circle {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .headline-circle h2, .headline-circle p {
        margin-right: 60px;
    }

    h2 {
        font-size: 32px;
    }
    
    .circle-headline {
        width: 250px;
        height: 120px;
        margin-left: 30px;
        margin-top: 0px;
    }

    .project-images {
        width: 280px;
    }

    .info-container {
        width: 100%;
    }

    .project-firstRow {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .project-secondRow {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .project-section p {
        padding: 0;
    }

    #colleaguesSection .max-content .testimonial-container {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        gap: 24px;
    }

    .sticker-one, .sticker-two, .sticker-three {
        position: relative;
        margin-left: 0;
        transform: rotate(0deg);
    }
    
    .contact-context {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .footer-hover {
        width: 130px;
        margin-top: 0px;
        margin-left: 0px;
        right: 80px;
    }

}

@media (max-width: 950px) {
    body {
        gap: 10%;
    }

    header {
        display: none;
    }


    .logo-mobile-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: transparent;
    }

    .logo-mobile-container button {
        position: absolute;
        top: 0;
        z-index: 10;
        right: 0;
    }

    .logo-mobile-container a {
        position: absolute;
        top: 0;
        z-index: 10;
        left: 0;
    }

    .mobile-header {
        width: 100%;
        height: 50%;
        background-image: url('../assets/img/01_Background/Design\ Size\ Relation@3x//01_Hero.png');
        background-size: contain;
        background-size: cover;
        background-repeat: repeat-x;
        display: none;
        flex-direction: column;
        position: relative;
        top: 0;
        padding-bottom: 50px;
        opacity: 1;
    }

    .mobile-hover {
        position: absolute;
        width: 120px;
        height: 50px;
        margin-top: -12px;
        margin-left: -15px;
        opacity: 0; 
        transition: opacity 0.2s ease; 
        pointer-events: none; 
    }

    nav div:hover .mobile-hover {
        opacity: 1; 
    }
    
    .ab-hover {
        width: 160px;
    }

    .mobile-nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 70px 0;
        gap: 20px;
    }

    .hero-information-container {
        margin-top: 20%;
        gap: 30px;
    }

    .img-and-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headline span {
        font-size: 32px;
        min-width: 1.1em;

    }

    .social-links-container {
        display: none;
        margin-top: 80px;
    }

    .headline-underline {
        width: 280px;
        margin: 0;
    }

    .design-element {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
    }

    .second-desing-element {
        height: 100px;
    }

    .polaroid-container {
        display: none;
    }

    .second-desing-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-polaroid-container {
        display: flex;
        margin-left: 25%;
        padding-bottom: 200px;
    }

    .locations-left-side img {
        margin: 0;
    }

    .paper {
        width: 280px;
        height: 100px;
    }

    .colleagues-section-header {
        padding: 0;
    }

    .colleagues-section-header h2 {
        font-size: 32px;
    }

    .container-position {
        margin-top: -80px;
        margin-left: 0;
        max-width: 280px;
    }

    .skill-descriptionfield {
        max-width: 280px;
        height: 210px;
    }

    .skill-description-container p {
        margin-top: 20%;
    }

    .firstRow {
        flex-wrap: wrap;
    }

    .secondRow {
        flex-wrap: wrap;
    }

    .project-btn {
        display: none;
    }

    .mobile-project-btn {
        display: flex;
    }

    .blue-arrow {
        width: 150px;
    }

    .colleagues-sticker {
        max-width: 280px;
        width: 100%;
    }

    .sticker-one, .sticker-two, .sticker-three {
        max-width: 280px;
    }

    .sticker-one:hover::after,
    .sticker-two:hover::after,
    .sticker-three:hover::after {
        width: 100%;
        height: 100%;
    }

    .sticker-comment {
        height: 100%;
        margin-top: -280px;
    }

    .sticker-footer {
        width: 80%;
        margin-top: -140px;
    }

    .round-sticker {
        padding: 0;
    }

    .mar_right {
        padding: 0;
    }

    .headline-underline {
        width: 280px;
    }

    .contact-section .right-side {
        width: 100%;
    }

    .contact-section .left-side {
        padding: 0;
        width: 90%;
    }

    form input {
        width: 200px;
    }

    .contact-section-footer-links .text {
        font-size: 24px;
    }

    .contact-section-footer-links a {
        padding: 0;
    }

    .mobile-footer {
        display: flex;
    }

    .contact-section-footer {
        display: none;
    }

    .footer-hover {
        width: 130px;
        margin-top: -50px;
        margin-left: 0px;
        right: 100px;
    }

    .mobile-social-links {
        margin-top: 40px;
    }

    .mobile-logo-copyright-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .sub-container {
        display: flex;
        align-items: center;
    }

    .yellow-arrow {
        display: none;
    }

    .yellow-arrow-mobile {
        width: 100px;
        height: 30px;
    }
}