.max-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 1740px) {
    .sticker-three {
        margin-left: 30%;
    }
}

@media (max-width: 1150px) {
    section {
        display: flex;
        flex-direction: column !important;
    }

    .headline {
        font-size: 86px;
    }

    .about-me-section {
        height: 100vh;
    }

    .locations-container {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }

    .skill-header {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
    
    .skill-and-sticker-container {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .project-firstRow {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .project-secondRow {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    .colleagues-section {
        height: 100vh;
    }

    #colleaguesSection .max-content .testimonial-container {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        height: 100vh !important;
        gap: 24px;
    }

    .sticker-one, .sticker-two, .sticker-three {
        position: relative;
        margin-left: 0;
        transform: rotate(0deg);
    }
    
    .contact-context {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
}

@media (max-width: 960px) {
    .headline {
        font-size: 56px;
        align-items: center;
    }

    .design-element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .polaroid-container {
        display: none;
    }

    .second-desing-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-polaroid-container {
        display: flex;
        margin-left: 40%;
    }

    .paper {
        width: 100%;
        max-width: 300px;
        height: 100px;
    }
}