
.project-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0 !important;
}

.project-section .max-content {
    align-items: stretch !important;
}

.project-section h3 {
    padding: 20px 0;
}

.project-images {
    border-radius: 12px;
    width: 100%;
    height: 460px;
}


.project-firstRow {
    display: flex;
    height: 50%;
    padding: 60px 20px;
    gap: 20px;
    justify-content: space-between;
}
.first-project {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

}

.join-images img {
    border-radius: 16px;
}

.join-sticker {
        width: 75px !important;
        height: 75px !important;
    }


.second-project {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.join-images {
    display: flex;
    justify-content: flex-start;
    position: relative;
    
}

.join-sticker {
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 2;
}

.third-project {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}


.project-secondRow {
    display: flex;
    height: 50%;
    padding: 60px 20px;
    gap: 20px;
    justify-content: space-between;
}


.project-content {
    position: relative;
    display: inline-block; 
    overflow: hidden;    
}

.project-images {
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
    display: block;
}

.project-btn {
    position: absolute;
    opacity: 0;
    width: 172px;
    height: 40px;
    border-radius: 100px;
    border-width: 1px;
    border-color: var(--prime-color-white);
    box-shadow: 2px 4px 0px 0px var(--prime-color-white);
    z-index: 10;
    color: var(--prime-color-white);
    background-color: transparent;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease, background-color 0.2s ease, box-shadow 0.2s ease; 
    cursor: pointer;
}

.mobile-project-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 40px;
    border-radius: 100px;
    border-width: 1px;
    border-color: var(--prime-color-black);
    box-shadow: 2px 4px 0px 0px var(--prime-color-black);
    z-index: 8;
    background-color: transparent;
    color: var(--prime-color-black);
    cursor: pointer;
    transform: translate(-50%, -50%);
    margin: 46px 0;
}


.project-content:hover .project-images,
.project-images:hover {
    transform: scale(0.95);
    pointer-events: none;
}

.project-content:hover .project-btn {
    opacity: 1;
}

.project-content:hover::after {
    opacity: 1;
    transform: scale(0.95);
}

.project-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(11, 12, 14, 0.048) 50%, #0c0d0f 100%);
    border-radius: 12px; 
    opacity: 0; 
    pointer-events: none;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.project-btn:hover, .mobile-project-btn:hover {
    box-shadow: 0px 0px 0px 0px var(--prime-color-white);
    background-color: var(--highlight-color-red);
}

.project-btn:hover ~ .project-images {
    transform: scale(0.95);
    filter: brightness(0.6);
}
