body {
    background-image: url(../assets/img//01_Background/Img-Original-Size/Note\ book\ paper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(29, 29, 29);
    font-family: 'Bricolage Grotesque', sans-serif;
    height: 100vh;
    width: 100vw;
}

.go-back-arrow {
    transform: rotate(180deg);
    height: 44px;
    width: 56px;
    margin-right: 12px;
}

.go-back-btn {
    background: transparent;
    border: none;
}

.go-back-btn a {
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.go-back-btn a:hover {
    color: #F7C518;
}

.project-image {
    width: 420px;
    height: 300px;
    border-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: 100%;
    height: 80vh;
}

.left-hand-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.headline {
    text-align: center;
}

.headline-underline {
    width: 300px;
    margin-left: -50px;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.right-hand-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5%;
    justify-content: center;
}

.btn-container button {
    background: transparent;
    border: none;
    height: 50px;
    width: 250px;
    font-size: 18px;
}

.btn-container button a {
    text-decoration: none;
    color: var(--prime-color-white);

}

footer {
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

footer a {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    height: 50px;
    width: 250px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #F7C518;
;
}


footer a img {
    height: 44px;
    width: 56px;
    margin-left: 12px;
}