* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-image: url(../assets/img/01_Background/Design\ Size\ Relation@3x/Note\ book\ paper.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: right;
    background-color: rgb(29, 29, 29);
    font-family: 'Bricolage Grotesque', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-back-arrow {
    transform: rotate(180deg);
    height: 44px;
    width: 56px;
    margin-right: 12px;
}

.go-back-container {
    width: 90%;
}

.go-back-btn {
    background: transparent;
    border: none;
}

.go-back-btn a {
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.go-back-btn a:hover {
    color: var(--highlight-color-yellow);
}

.project-image {
    width: 420px;
    height: 300px;
    border-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: 100%;
}

.left-hand-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 50px;
}

.headline {
    text-align: center;
}

.headline-underline {
    width: 300px;
    margin-left: -50px;
}

.content {
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.right-hand-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    gap: 5%;
    justify-content: center;
    padding: 0 40px;
}



.btn-container button {
    background: transparent;
    border: solid 1px var(--prime-color-white);
    height: 50px;
    width: 150px;
    
    font-size: 18px;
    border-radius: 12px;
}

.btn-container button a {
    text-decoration: none;
    color: var(--prime-color-white);

}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding-left: -40px;
}

.btn-container button {
    box-shadow: 0px 4px 0px 0px var(--prime-color-white);
}

.btn-container button:hover {
    background-color: var(--highlight-color-red);
    box-shadow: 0px 0px 0px 0px var(--prime-color-white);
    
}

.btn-container button a {
    padding: 12px 20px;
}


footer {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    height: 50px;
    width: 250px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: var(--highlight-color-yellow);

}

.mobile-footer-link {
    display: none;
}


footer a img {
    height: 44px;
    width: 56px;
    margin-left: 12px;
}

@media (min-width: 2350px) {

    body {
        background-position: right;
    }
    
    .left-hand-side {
        width: 300px;
    }

    .content {
        width: 100%;
    }
}

@media (max-width: 1300px) {
    

    .content p {
        width: 300px;
    }

}


@media (max-width: 1150px) {
    .content {
        width: 300px;
    }

    h1 {
        font-size: 36px !important;
        padding-top: 75px;
    }

    h2 {
        font-size: 26px !important;
    }
}

@media (max-width: 950px) {
    .mobile-go-back-disappear {
        display: none;
    }

    .max-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        flex-direction: column;
        height: auto;
        
    }

    .right-hand-side {
        width: 100%;
        height: auto;
        gap: 20px;
        align-items: center; 
        padding: 0;
    }

    footer {
        bottom: 0;
        justify-content: center;
        padding-top: 40px;
        gap: 20px;
    }

    .project-image {
        height: 220px;
        width: 300px;
    }

    .mobile-footer-link {
        display: flex;
    }

    .go-back-arrow {
    transform: rotate(0deg);
    }

    .mobile-footer-link:hover {
        color: var(--highlight-color-red) !important;
    }

    body {
        font-family: 'Bricolage Grotesque', sans-serif;
        overflow-wrap: break-word;
        background-image: none;
        background-color: black;
        height: 100%;
        
    }

    nav a {
        color: var(--prime-color-white) !important;
    }

    .header-hover {
        margin-top: -22px !important;
    }

    h1 {
        font-size: 28px !important;
    }

    h2 {
        font-size: 18px !important;
    }

    .content {
        gap: 18px;
        height: 70%;
    }

    .content p {
        width: 100%;
    }

    .left-hand-side {
        height: 1450px;
        width: 100%;
        background-image: url(../assets/img/01_Background/Img-Original-Size/16_Project-view-background-mobile.png);
        background-size: cover;
        background-position: left;
        background-repeat: repeat-x;
        align-items: center;
        padding: 0 0 100px 0;
    }

    .right-hand-side {
        gap: 40px;
        margin-top: -500px;
    }

    .btn-container {
        justify-content: center;
    }
    
}


@media (max-width: 700px) {
    .left-hand-side {
        padding-top: 0;
        background-size: cover;
        background-repeat: repeat-x;

    }

    .btn-container {
        width: 90%;
    }

    .content {
        width: 280px;
    }
}

@media (max-width: 350px) {
    .left-hand-side {
        background-size: cover;
    }

   
}