html {
    overflow-x: hidden;
}

body {
    background-image: url(../assets/img//01_Background/Img-Original-Size/Note\ book\ paper.png);
    background-size: contain;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    background-color: rgb(29, 29, 29);
    font-family: 'Bricolage Grotesque', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-back-arrow {
    transform: rotate(180deg);
    height: 44px;
    width: 56px;
    margin-right: 12px;
}

.go-back-container {
    padding-top: 15%;
}

.go-back-btn {
    background: transparent;
    border: none;
}

.go-back-btn a {
    display: flex;
    align-items: center;
    height: 50px;
    width: 250px;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.go-back-btn a:hover {
    color: #F7C518;
}

.project-image {
    width: 420px;
    height: 300px;
    border-radius: 12px;
}

* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: 100%;
}

.left-hand-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.headline {
    text-align: center;
}

.headline-underline {
    width: 300px;
    margin-left: -50px;
}

.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.right-hand-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5%;
    justify-content: center;
}



.btn-container button {
    background: transparent;
    border: solid 1px var(--prime-color-white);
    height: 50px;
    width: 150px;
    
    font-size: 18px;
    border-radius: 12px;
}

.btn-container button a {
    text-decoration: none;
    color: var(--prime-color-white);

}
.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn-container button {
    box-shadow: 0px 4px 0px 0px var(--prime-color-white);
}

.btn-container button:hover {
    background-color: var(--highlight-color-red);
    box-shadow: 0px 0px 0px 0px var(--prime-color-white);
    
}

.btn-container button a {
    padding: 12px 20px;
}


footer {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    height: 50px;
    width: 250px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #F7C518;

}

.mobile-footer-link {
    display: none;
}


footer a img {
    height: 44px;
    width: 56px;
    margin-left: 12px;
}

@media (max-width: 1150px) {
    .mobile-go-back-disappear {
        display: none;
    }

    .max-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        flex-direction: column;
        height: auto;
        
    }

    nav a {
        color: var(--prime-color-black) !important;
    }

    h1 {
        font-size: 46px !important;
        padding-top: 75px;
    }

    body {
        background-image: url(../assets/img/01_Background/Img-Original-Size/16_Project-view-background-mobile.png);
        background-size: contain;
        background-size: cover;
        height: auto;
        background-color: black;
    }

    .left-hand-side {
        width: 100%;
    }

    .right-hand-side {
        width: 100%;
        padding-top: 20%;
    }

    footer {
        bottom: 0;
        justify-content: center;
    }

    .project-image {
        max-width: 300px;
        width: 100%;
    }

    .mobile-footer-link {
        display: flex;
    }
}


@media (max-width: 950px) {
    nav a {
        color: var(--prime-color-white) !important;
    }
}

