.transitionImage {
    opacity: 0;
    animation: showHide 3s infinite;
}

.element {
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Links → Rechts */
.left-to-right {
    animation-name: revealLeftToRight;
}

/* Rechts → Links */
.right-to-left {
    animation-name: revealRightToLeft;
}

@keyframes revealLeftToRight {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    40% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes revealRightToLeft {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    40% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes showHide {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    41% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.element-revealHideLeftToRight {
    animation: revealHideLeftToRight 6s infinite;
}

@keyframes revealHideLeftToRight {
    0% {
        clip-path: inset(0 100% 0 0);
    }
    25% {
        clip-path: inset(0 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.element-revealHideRightToLeft {
    animation: revealHideRightToLeft 6s infinite;
}

@keyframes revealHideRightToLeft{
    0% {
        clip-path: inset(0 0 0 100%);
    }
    25% {
        clip-path: inset(0 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 0 100%);
    }
}

.element-revealHideTopToBottom {
    animation: revealHideTopToBottom 6s infinite;
}

@keyframes revealHideTopToBottom {
    0% {
        clip-path: inset(0 0 100% 0);
    }
    25% {
        clip-path: inset(0 0 0 0);
    }
    /* 75%: Es bleibt voll sichtbar */
    75% {
        clip-path: inset(0 0 0 0);
    }
    100% {
        clip-path: inset(0 0 100% 0);
    }
}




.rolling-link {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 24px;
  text-decoration: none;
  padding: 10px 10px;
  overflow: visible; 
  width: 200px; 
}

.rolling-link .icon {
  position: absolute;
  left: 0;
  top: -25px; 
  opacity: 0;
  transition: transform 0.6s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(0px) translateY(0px) rotate(180deg); 
  pointer-events: none;
}

.rolling-link:hover .icon {
    transform: translateX(50px) translateY(0px) rotate(360deg); 
    opacity: 1;
}

.rolling-link-wave-icon {
    position: relative;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding: 20px 0;
    overflow: visible; 
    width: 200px; 
}

.rolling-link-wave-icon .icon {
    position: absolute;
    left: 0;
    top: -20px; 
    opacity: 0;
    transition: transform 0.7s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateX(15px) translateY(0px) rotate(180deg); 
    pointer-events: none;
}

.rolling-link-wave-icon:hover .icon {
    transform: translateX(180px) translateY(0px) rotate(360deg); 
    opacity: 1;
}

.moving-image {  
  animation: moving 3s ease-in-out infinite;
}

@keyframes moving {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(50px); 
  }
  100% {
    transform: translateY(-20px); 
  }
}


@media (max-width: 950px) {
  .rolling-link .icon {
    position: absolute;
    left: 0;
    top: -25px; 
    opacity: 0;
    transition: transform 0.6s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(0px) translateY(0px) rotate(180deg); 
    height: 32px;
    width: 32px;
  }

  .rolling-link {
    overflow: visible !important; 
    margin-top: 25px; 
    padding: 5px 10px !important;
  }

  .rolling-link:hover .icon {
    transform: translateX(55px) translateY(0px) rotate(360deg); 
    opacity: 1;
  }
}



@media (max-width: 400px) {
    .rolling-link:hover .icon {
        transform: translateX(25px) translateY(0px) rotate(360deg) !important; 
        opacity: 1;
    }

    .contact-section-footer-links .text {
        font-size: 20px !important;
    }
}