* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bricolage Grotesque', sans-serif;
}



main {
    background-image: url('./assets/img/01_Background/Img-Original-Size/12\ Isolated\ Paper\ Rips\ copia.png');
    background-size: cover;
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    height: 100%;
    margin: 5% 0;
}

.hero-information-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10%

}

.img-and-text {
    width: 90%;
}

.polaroid-frame {
    position: relative;
    width: 200px;
    height: 250px;
}



.polaroid-image {
    position: absolute;
    margin-top: 15px;
    margin-left: -186px;
    color: var(--prime-color-white);
    width: 172px;
    height: 180px;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transform: scale(1);

    transition:
        filter 0.5s ease,
        -webkit-filter 0.5s ease,
        transform 0.5s ease;
}

.polaroid-image:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

.kalma-font {
    font-family: 'kalma';
    position: absolute;
    font-size: 30px;
    margin-top: -60px;
    margin-left: 10px;
}

.polaroid-container {
  transform: rotate(12deg); 
}

h1 {
    color: var(--prime-color-white);
    font-size: 128px;
}

.headline span {
  display: inline-flex;     
  justify-content: center;  
  min-width: 0.7em;         
  transition: color 0.2s ease-in-out; 

  padding: 4px;
  margin: -2px;
}

.headline {
    white-space: nowrap;
}

#interactive-headline span {
    margin: -8px;
}

.headline-hover {
  color: var(--highlight-color-yellow);
}

.design-element {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10%;
    height: 300px;
    width: 100%;
}

.btn-and-headline-container {
    display: flex;
    flex-direction: column;
}

.second-desing-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
}

.hello-world-btn {
    position: relative;
    top: 15%;
    width: 120px;
    border-radius: 100px;
    border-width: 1px;
    background: transparent;
    cursor: pointer;
}

.hello-world-btn .btn-text {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    box-sizing: border-box;
    background-color: var(--prime-color-black);
    color: var(--prime-color-white);
    border: 1px solid var(--prime-color-white);
    text-align: center;
    white-space: nowrap;
    transition: width 0.3s ease, background-color 0.3s ease;
    pointer-events: none; 
}

.hello-world-btn:hover .btn-text {
    width: 200px; 
    background-color: #3355FF; 
}

.hero-information-container button a {
    color: var(--prime-color-white);
    text-decoration: none;
}

.waving-icon {
    margin-top: -5px;
}

.contact-btn-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.get-in-touch-btn {
    width: 154px;
    height: 40px;
    opacity: 1;
    border-radius: 100px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    background: transparent;
    color: var(--prime-color-white);
    border: 1px solid var(--prime-color-white);
    cursor: pointer;
    box-shadow: 2px 4px 0px 0px var(--prime-color-white);
}

.get-in-touch-btn:hover {
    background-color: var(--highlight-color-red);
    box-shadow: 0px 0px 0px 0px var(--prime-color-white);
}

.social-links-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 250px;
}

.social-links {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 136px;
    padding-left: 72px;
}

.social-links a img {
    border-radius: 16px;
    border: 1px solid var(--prime-color-white);

}

.social-links a img:hover {
    background: var(--highlight-color-blue);

}

.about-me-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.locations-container {
    display: flex;
    height: 100%;
}

.locations-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations-left-side img {
    max-width: 70%;
    margin-left: 70px;
}

.container-position {
    position: absolute;
    margin-left: 15%;
    margin-top: -15%;
}

.yellow-wrapper {
    position: relative;
    height: 100px;
}

.yellow-container {
    position: absolute;
    width: 300px;
    color: var(--prime-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-wrapper {
    position: relative;
    height: 100px;
}

.blue-container {
    position: absolute;
    width: 300px;
    color: var(--prime-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-wrapper {
    position: relative;
    height: 100px;
    margin-top: 20px;
}

.orange-container {
    position: absolute;
    width: 300px;
    color: var(--prime-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 70px;
}

.headline-underline {
    width: 400px;
    margin-left: -50px;
}

.about-me-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10%;
}

.about-me-text-container button {
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    background-color: var(--prime-color-white);
    color: var(--prime-color-black);
    border: 1px, solid, var(--prime-color-black);
}

.talk-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.talk-btn-container button {
    box-shadow: 2px 4px 0px 0px var(--prime-color-black);
}

.talk-btn-container button:hover {
    background-color: var(--highlight-color-red);
    box-shadow: 0px 0px 0px 0px var(--prime-color-black);
    
}

.talk-btn-container button a {
    padding: 12px 20px;
}

.colleagues-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.colleagues-section-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.colleagues-design-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.sticker-one, .sticker-two, .sticker-three {
    width: 450px;
    height: 300px;
    position: relative;
}

.sticker-one {
    position: relative;
    margin-left: -45%;
    transform: rotate(-6deg); 
}

.sticker-two {
    position: absolute;
}

.sticker-three {
    position: absolute;
    margin-left: 40%;
    transform: rotate(6deg); 
}


.colleagues-sticker {
    width: 450px;
    height: 300px;
    position: relative;
    z-index: 1; 
}

.sticker-comment {
    position: relative;
    z-index: 4; 
    width: 70%;
    height: 70%;
    margin-top: -65%; 
    margin-left: 5%;
    padding: 30px;
    color: var(--prime-color-black);
}

.sticker-one:hover, 
.sticker-two:hover, 
.sticker-three:hover {
    z-index: 500; 
}

.sticker-one:hover::after,
.sticker-two:hover::after,
.sticker-three:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 300px;
    z-index: 1;
    
    background-image: url("./assets/img/03_Stickers/02_Testimonials/Color option 1/Hover.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
    pointer-events: none; 
}

.sticker-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: -10%;
    z-index: 1;
}

.sticker-footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--prime-color-black);
}

.sticker-one:hover, 
.sticker-two:hover, 
.sticker-three:hover,
.sticker-footer:hover {
    color: var(--prime-color-white);
}

.sticker-footer a:hover {
    z-index: 1001;
    color: var(--prime-color-white);
}

.sticker-footer a:hover::after {
    z-index: 1;
    color: var(--prime-color-black);
}

.profile-link-container {
    display: flex;
}

.profile-link{
    cursor: pointer;
}

.contact-section {
    height: fit-content;
    background-image: url(./assets/img/01_Background/Img-Original-Size/Footer.png);
    background-repeat: repeat-x;
    background-size: contain;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-context {
    width: 100%;
    display: flex;
    padding-top: 150px;
}

.left-side {
    width: 50%;
    color: var(--prime-color-white);
    display: flex;
    flex-direction: column;
}

.mar_right {
    margin-left: 50%;
}

.right-side {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-sticker {
    position: relative;
    height: 180px;
    width: 180px;
    margin-left: 250px;
}

.logo-on-sticker {
    position: absolute;
    margin-left: -140px;
    margin-top: 50px;
    z-index: 1000;
}

.message-form {
    display: flex;
    flex-direction: column;
}

form {
    width: 50%;
}

input {
    height: 44px;
    width: 100%;
    padding: 54px 0 12px 0;
    background-color: transparent !important; 
    background: transparent !important;
    border: 1px solid var(--highlight-color-yellow);
    border-width: 0 0 1px 0;
    box-sizing: border-box; 
    transition: border 0.2s ease; 
    color: var(--prime-color-white);   
}

input:focus, 
input:active,
input:hover {
    background-color: transparent !important;
    background: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important; 
    
    /* Erzwingt deine Textfarbe */
    -webkit-text-fill-color: var(--prime-color-white) !important;
    
    /* Behält die Transition bei */
    transition: background-color 5000s ease-in-out 0s;
}

form input:hover {
    border-width: 1px 0 1px 0; 
    border-color: var(--highlight-color-blue);
    cursor: pointer;
}

form h4 {
    position: absolute;
    margin-top: 4px;
    pointer-events: none;
    padding: 4px;
}
form h4:hover {
    color: var(--highlight-color-red);
}

.error-msg {
    color: #ff4d4d;
    font-size: 0.85rem;
    margin-top: 4px;
    min-height: 18px; 
}


.privacy-notice-container {
    display: flex;
    margin-top: 5%;
}

.form-footer {
    display: flex;
    flex-direction: column;
}

.sub-container {
    display: flex;
    justify-content: flex-end;
}

.form-footer button {
    width: 154px;
    padding: 12px 24px;
    border-radius: 12px;
    cursor: pointer;
    background: var(--prime-color-black);
    color: var(--prime-color-white);
    border: 1px solid var(--prime-color-white);
    margin-top: 20px;
    box-shadow: 2px 4px 0px 0px var(--prime-color-white);
}





#aboutMeSection button a {
    text-decoration: none;
    color: var(--prime-color-black);
}

.d-none {
    display: none;
}