* {
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
}



main {
    background-image: url('./assets/img/01_Background/Img-Original-Size/12\ Isolated\ Paper\ Rips\ copia.png');
    background-size: cover;
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-information-container {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10%

}

.img-and-text {
    width: 90%;
}

.polaroid-frame {
    position: relative;
    width: 200px;
}

.polaroid-image {
    position: absolute;
    margin-top: 50px;
    margin-left: -160px;
    color: white;
}

.polaroid-container h2 {
    position: absolute;
    font-size: 30px;
    margin-top: -60px;
    margin-left: 10px;
}

h1 {
    color: white;
    font-size: 128px;


}

.design-element {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10%;
}

.second-desing-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hello-world-btn {
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px, solid, white;
}

.hero-information-container button a {
    color: white;
    text-decoration: none;
}

.hello-world-btn {
    position: relative;
    top: 15%;
}

.contact-btn-container {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.get-in-touch-btn {
    width: 154px;
    height: 40px;
    opacity: 1;
    border-radius: 100px;
    border-width: 1px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    background: #00000003;
    color: #F8F9FA;
    border: solid #F8F9FA;
    border-width: 1px 2px 5px 2px;
    cursor: pointer;
}

.get-in-touch-btn:hover {
    background-color: rgb(248, 122, 85);
    border-width: 1px;
}

.social-links-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 50px;
}

.social-links {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 136px;
    padding-left: 72px;
}

.social-links a img {
    border-radius: 16px;
    border: 1px solid white;

}

.social-links a img:hover {
    background: #3355FF;

}

.locations-container {
    display: flex;
}

.locations-left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations-left-side img {
    max-width: 70%;
    margin-left: 70px;
}

.yellow-wrapper {
    position: relative;
}

.yellow-container {
    position: absolute;
    width: 500px;
    top: 35%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-wrapper {
    position: relative;
}

.blue-container {
    position: absolute;
    top: 35%;
    width: 500px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orange-wrapper {
    position: relative
}

.orange-container {
    position: absolute;
    width: 500px;
    top: 35%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 70px;
}

.headline-underline {
    width: 400px;
    margin-left: -50px;
}

.about-me-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10%;
    margin-right: 70px;
}

.about-me-text-container button {
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px, solid, black;
}

.talk-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.skill-section {
    background-image: url(./assets/img/01_Background/Img-Original-Size/Skills\ BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    height: 80vh;
    width: 100%;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-section h2 {
    color: white;
    position: relative;
    z-index: 1000;
}

.circle-headline {
    width: 300px;
    height: 90px;
    position: absolute;
    margin-top: -80px;
    margin-left: -30px;
}

.skill-section p {
    color: white;
    margin-bottom: 5px;
}

.skill-descriptionfield {
    width: 300px;
    height: 100px;
}

.skill-content {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10%;
}

.firstRow {
    display: flex;
    gap: 5%;
}

.secondRow {
    display: flex;
    gap: 5%;
    margin-top: 5%;
}

.skill-and-sticker-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    gap: 20%;
    margin-top: 30px;
}

.skill-sticker {
    width: 250px;
    height: 250px;
}

.info-container {
    width: 50%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container p {
    color: black;
}

.project-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.project-section img {
    cursor: pointer;
    border-radius: 12px;
}

.project-firstRow {
    display: flex;
}
.first-project {
    width: 50%;
    height: 50%;
    cursor: pointer;
}

.join-images img {
    border-radius: 16px;
}


.second-project {
    width: 50%;
    height: 50%;
}

.join-images {
    display: flex;
    justify-content: flex-start;
    position: relative;
    
}

.join-sticker {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0;
}

.third-project {
    width: 50%;
    height: 50%;
}


.project-secondRow {
    display: flex;
    justify-content: center;
}

.game-image {
    width: 600px;
    height: 400px;
}

.colleagues-section {
    width: 100%;
    height: 70dvh;
    display: flex;
    flex-direction: column;
}

.colleagues-section-header {
    width: 70%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.colleagues-design-element {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.testimonial-container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 50%;
}

.sticker-one {
    width: 450px;
    height: 300px;
    position: absolute;
}

.sticker-two {
    width: 450px;
    height: 300px;
    position: absolute;
    margin-left: 50%;
}

.sticker-three {
    width: 450px;
    height: 300px;
    position: absolute;
    margin-left: 90%;
}

.sticker-comment {
    position: absolute;
    margin-top: 10%;
    margin-left: 8%;
}

.sticker-comment-two {
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
}

.sticker-comment-three {
    position: absolute;
    margin-top: 10%;
    margin-left: 55%;
}

.contact-section {
    width: 100%;
    height: fit-content;
    background-image: url(./assets/img/01_Background/Img-Original-Size/Footer.png);
    background-repeat: repeat-x;
    background-size: contain;
    padding-bottom: 50px;
}

.contact-context {
    width: 100%;
    display: flex;
    padding-top: 150px;
}

.left-side {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section-footer-links a {
    text-decoration: none;
    color: white;
}

#aboutMeSection button a {
    text-decoration: none;
    color: black;
}


